* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
}

.main {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  transform: translate(-50%, 0);
  background-image: url('../img/embreve-victoralen.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

  /* informations */
  .main .info {
    position: absolute;
    right: 50%;
    bottom: 30px;
    margin-right: -150px;
    width: 300px;
    text-align: center;
    font-size: 1.2em;
  }
    .main .info a {
      display: block;
      font-size: 1.3em;
      padding-top: 10px;
      color: #F4C0AF;
    }

  /* sociais */
  .main .sociais {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
    .main .sociais .item {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2em;
      color: #000000;
      background: #FFFFFF;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      transition: all 250ms linear;
    }
      .main .sociais .item + .item {
        margin-left: 5px;
      }
      .main .sociais .item:hover { color: #FFFFFF }
      .main .sociais .item.fa-youtube-play:hover { background-color: #e52c27 }
      .main .sociais .item.fa-facebook:hover { background-color: #3b5998 }
      .main .sociais .item.fa-instagram:hover { background-color: #a47058 }


@media screen and (max-width: 670px) {
  .main .info {
    bottom: 90px;
  }

  .main .sociais {
    right: 50%;
    margin-right: -75px;
    width: 150px;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .main .info {
    font-size: 1em;
    bottom: 70px;
  }

  .main .sociais {
    bottom: 15px;
  }
}
